.first  p {
    background-color:cadetblue;
  }
  .second > p {
    background-color: darkgray;
  }
  .third + p {
    background-color: lightblue;
  }
  .fourth ~ p {
    background-color: lightgrey;
  }
  p:empty
  {
    width: 100%;
    height: 5px;
    background: #496969;
  }

  a:hover{
    color: blue;
  }
  a:active{
    color: chartreuse;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  
  .vertical-menu a:hover {
    background-color: #ccc;
  }
  
  .vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
  }
  a[target]
  {
    background-color: mediumseagreen;
  }
  
  [title~= CEO]
  {
    border: 5px solid burlywood;
  }
  [class|=Title] {
    background: darkgrey;
  }